<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <h1><%= resetToken  %></h1> -->
    <input id="input" type="text" placeholder="enter new password">
    <button onclick="submit(event)">Submit</button>



    <script>
        let inputTag = document.getElementById('input')
        let resetToken = '<%= resetToken %>'
        console.log(resetToken)

        async function submit(e){
          console.log(inputTag.value)
           
          let res = await fetch(`http://localhost:5000/api/auth/forgetPassword/${resetToken}`,{
            method: "POST",
            headers: {
                'content-type':'application/json'
            },
            body:JSON.stringify({updatedPassword:inputTag.value})
          })

          let data =await res.json()
          console.log(data)
        
           
        }
    </script>
</body>
</html>